
h1 {
    text-align: center; color: #1088ff
}
.reportview-container .markdown-text-container {
    font-family: "Ubuntu";
}
.sidebar .sidebar-content {
    background-image: linear-gradient(#1088ff,#0bd6d4);
    color: white;
    font-family: "Ubuntu";
}

.Widget>label {
    
    font-family: "Ubuntu";
}
[class^="st-b"]  {
    
    font-family: "Ubuntu";
}

header .decoration {
    background-image: none;
}
strong {
  color: #1088ff
}
h4 {
  text-align: center;
}
#feedback {
  text-align: center;
}
